absl-py==2.2.2
albucore==0.0.24
albumentations==2.0.7
annotated-types==0.7.0
asttokens==3.0.0
astunparse==1.6.3
blosc2==3.3.3
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
comm==0.2.2
connected-components-3d==3.23.0
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
deepd3==0.1
efficientnet==1.0.0
executing==2.2.0
flammkuchen==1.0.3
flatbuffers==25.2.10
fonttools==4.58.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
idna==3.10
image-classifiers==1.0.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.10.0
Keras-Applications==1.0.8
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.44.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
MouseInfo==0.1.3
msgpack==1.1.0
namex==0.0.9
ndindex==1.10.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.2
numexpr==2.10.2
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.15.0
packaging==25.0
pandas==2.2.3
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
protobuf==4.25.7
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
PyAutoGUI==0.9.54
pydantic==2.11.4
pydantic_core==2.33.2
PyGetWindow==0.0.9
Pygments==2.19.1
pylibtiff==0.6.1
PyMsgBox==1.0.9
pyparsing==3.2.3
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyqtgraph==0.13.7
PyRect==0.2.0
PyScreeze==1.0.1
PySimpleGUI @ file:///C:/Users/Yasudalab/Downloads/PySimpleGUI-4.60.5-main/PySimpleGUI-4.60.5.tar.gz#sha256=31014d1cc5eef1373d7e93564ff2604662645cc774a939b1f01aa253e7f9d78b
python-dateutil==2.9.0.post0
pytweening==1.2.0
pytz==2025.2
PyVISA==1.15.0
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
requests==2.32.3
rich==14.0.0
roifile==2025.5.10
scikit-image==0.25.2
scipy==1.15.3
seaborn==0.13.2
segmentation-models==1.0.1
setuptools==80.8.0
simsimd==6.2.1
six==1.17.0
stack-data==0.6.3
stringzilla==3.12.5
tables==3.10.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==3.1.0
ThorlabsPM100==1.2.2
tifffile==2025.5.10
TkEasyGUI==1.0.37
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
